.row#main {
  height: 100%;
}

#content {
  padding-top: 20px;
  height: 100%;
}

.row#main_row {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.row.above_log {
  margin-bottom: -200px;
  padding-bottom: 200px;
}
